.blog-info {
  @extend .primary-color_bg;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  a, & {
    color: #EEE;
  }

  .arrow {
    border-color: rgba(0, 0, 0, 0) var(--primary-color);
  }

  .date {
    background: rgba(0, 0, 0, 0.15);

    .day {
      font-size: 2.3em;
      color: #FFF;
    }
  }

  .author {
    div {
      font-size: 1.3em;

      a {
        color: #FFF;
      }
    }
  }

  .comment-count {
    div {
      font-size: 1em;
      color: #FFF;
    }
  }
}


.blog-posts {
  .node-title {
    font-size: 2.05em;
    margin: 15px 0 10px;
  }

  .wp-post-image {
    padding: 10px 0;
  }
}

.custom-pagination {
  padding: 50px 0;
}

.blog .wd-gallery-images-holder {
  margin-left: 0;
}

.prev.page-numbers, .next.page-numbers {
  border: none;
}

.page-numbers, .page-links a {
  border: 1px solid;
  padding: 5px 10px;

}
.page-numbers.dots {
  border: none;
}

.page-numbers.current {
  background: var(--primary-color);
  color: #fff;
}

.post-password-form input[type='submit'] {
  @include button;
}

.blog-post .sticky .blog-info {
  background: var(--primary-color) repeating-linear-gradient(-55deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 20px) repeat scroll 0 0;
  border-left: none;
}

.simple-blog {
  .wd-blog-post {
    background: rgba(255, 255, 255, 0.89);

    .wd-blog-post-detail {
      padding: 5px 20px 10px 25px;

      img {
        width: 100%;
      }

      h3 {
        margin-bottom: 10px;

        a {
          font-size: 18px;
          font-weight: 600;
          color: #333;
          line-height: 28px;
        }
      }

      p {
        color: #777;
        padding-bottom: 20px;
      }
    }
  }
}

