.doors_wrapper {
  background: none repeat scroll 0 0 #fff;
  margin: 0 auto;
  max-width: 79em;
  position: relative;


}

.bg_body_color {
  background: #aaa;
  padding-top: 15px;
  padding-bottom: 15px;
}

img.bg_image_body {
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  position: fixed;
  top: 0;
  width: 100%;
}

