div {
  &.wpb_call_to_action {
    background: none;
    border: none;

    h2 {
      color: #fff;
      font-size: 1.5em;
    }

  }
}

span {
  &.wpb_button {
    border-top: 1px solid #fff;
    border-right: 1px solid #9d0275;
    border-bottom: 1px solid #9d0275;
    background-color: #d0029a;
    padding: 10px 20px;
    font-size: 1.14286em;
    font-weight: bold;
    line-height: normal;

    &:hover, &:focus {
      @extend .primary-color_bg;
      border-top: none;
    }
  }
}


header .button.home-cta {
  background: var(--primary-color);
  padding: 14px 30px;
  margin-top: 20px;
  height: 46px;
  border: medium none;
  border-radius: 2px;
  margin-left: 115px;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

@media only screen and (max-width: 900px) {
  header .button.home-cta {
    display: none;
  }
}
