/*
 * ---------testimonials---------------
 */

.wd-testimonail  {
  margin: 0;

  blockquote {
    border: none;
    color: inherit;
    text-align: center;
    @include breakpoint(small only ){
      margin: 0 !important;
    }

    img {
      border-radius: 0;
      margin: 40px 0;
      height: 100px;
      width: 100px;
      margin-bottom: 14px;
      border-radius: 50%;
    }

    cite {
      text-align: center;
      padding-left: 0;
      font-size: 16px;
      color: var(--primary-color);
      font-weight: 600;
    }

    .job-title {
      color: #000000;
      font-size: 14px;
      text-align: center;
    }
  }

  .testimonial-text {
    margin-top: 15px;
    font-style: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    font-family: inherit;
    text-align: inherit;
    font-style: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    position: relative;
    padding: 0 87px;
    @include breakpoint(small only ) {
      padding: 0 !important;
    }

    &:before {
      content: "\f10d";
      font-family: "FontAwesome";
      color: rgba(255, 255, 255, 0.4);
      font-size: 18px;
      left: 0;
      position: absolute;
      top: -20px;
    }

    &:after {
      content: "\f10e";
      font-family: "FontAwesome";
      color: rgba(255, 255, 255, 0.4);
      font-size: 18px;
      position: absolute;
      right: 0;
    }
  }

  .quote {
    display: none;
  }

  &.carousel-s2 {
    background: #2061D1;
    border-radius: 15px;
    position: relative;

    .testimonial-text {
      &::before {
        left: -40px;
        top: -40px;
      }

      &::after {
        right: -40px;
        bottom: -40px;
      }
    }

    .owl-controls {
      .owl-nav {
        width: 100px !important;
        left: unset;
        top: unset;
        position: absolute;
        bottom: 40px;
        right: 0;

        > div {
          background: unset;

          i {
            opacity: 1;
          }
        }

        .owl-prev i::before {
          content: "Prev";
          color: #fff;
          font-weight: 700;
          font-family: Lato;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: 1px;
        }

        .owl-next i::before {
          content: "Next";
          color: #fff;
          font-weight: 700;
          font-family: Lato;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.carousel-s2 {
  .owl-thumb-navigation .owl-thumbs .owl-thumb-item {
    display: inline-block;
    list-style-type: none;
    margin: 0 16px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    z-index: 0;

    &.active {
      z-index: 9;
    }
  }
}


.owl-carousel.testimonial-slider {
  .testimonial-text-container {
    margin-top: 180px;

    .testimonial-name {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        display: inline-block;
      }

      &:after {
        content: " - ";
        padding: 6px;
      }
    }

    p {
      font-style: inherit;
      font-size: inherit;
      color: inherit;
      line-height: inherit;
      font-family: inherit;
      text-align: inherit;
      font-style: inherit;
      text-decoration: inherit;
      text-transform: inherit;
    }
  }

  .owl-nav > div {
    height: 33px;
    padding: 6px 4px;
    width: 33px;
    background-color: #999;

    i {
      color: #fff;
      font-size: 12px;
      margin-left: 5px;
      display: table;
      margin-top: 6px;
    }

    &:hover {
      background-color: #cb9904;
    }
  }

  .owl-nav > div.owl-next {
    left: 37px;
  }

  .owl-nav {
    left: 51.4%;
    position: absolute;
    bottom: 156px;
    width: 69px;
  }
}

/* wd-sly-carousel */

.wd-sly-carousel {
  overflow: hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    li {
      float: left;
      @include breakpoint(small only ) {
        width: 320px;
      }
      width: 430px;
      height: 100%;
      margin: 10px 35px;
      padding: 0;
      color: #000;
      cursor: grab;

      img {
        position: absolute;
        border-radius: 50%;
        top: 14px;
        margin-left: 30px;
      }

      .sly-text {
        background-color: #fff;
        margin-top: 50px;
        padding: 105px 38px 26px;
      }

      &:first-child {
        margin-right: 0;
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }
}

.wd-sly-carousel-container {
  /* Scrollbar */
  .scrollbar {
    margin: 49px 26% 0 0;
    height: 6px;
    background: #FFF;
    line-height: 0;

    .handle {
      width: 100px;
      height: 100%;
      background: #cc9900;
      cursor: pointer;

      .mousearea {
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 20px;
      }
    }
  }
}

.owl-testimonail {
  .owl-controls {
    position: relative;

    .owl-nav {
      position: absolute;
      width: 400px;
      left: 50%;
      transform: translate(-50%);
      top: 6px;

      > div {
        position: relative;
        top: auto;
        display: inline-block;
          transition:opacity .6s;

        i {
          color: #000;
          opacity: .3;
        }

        &.owl-prev, &.owl-next {
          opacity: 1;
        }
      }
    }
  }

  h6 {
    margin: 0 0 25px 0;
  }
}

a.testimonial-prev, a.testimonial-next {
  color: #000;
  opacity: .3;
  display: inline-table;
  font-size: 36px;
  padding: 10px;
  vertical-align: middle;
   transition:opacity .6s;

  &:hover {
    opacity: 1;
    color: #FFF;
  }
}

.owl-thumb-navigation {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  .owl-thumbs {
    position: relative;
    z-index: 2;
    margin: 0;
    text-align: center;

    .owl-thumb-item {
      display: inline-block;
      list-style-type: none;
      margin: 0 16px;

      img {
        border-radius: 50%;
        transition:all .2s;
      }

      &:hover {
        img {
          -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.25);
          -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.25);
        }
      }
    }

    .owl-thumb-item.active {
      img {
        -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.25);
        -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.25);
        box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.25);
      }
    }
  }
}

/**
//////////////////////////////////// Style 2  //////////////////////////////////////
*/

.wd-testimonial.wd-testimonial_style_2 {
  padding-bottom: 0;
  padding-right: 20px;
  position: relative;

  .slick-slide {
    padding: 30px 15px;
  }

  .wd-testimonial__item {
    border: none;
    display: flex !important;
    transition: all ease-in-out 400ms;
    padding: 40px 30px;
    margin: 0;
    box-shadow: none;
    position: relative;
    @include breakpoint(small only) {
      padding-bottom: 253px;
    }
    &::after {
      content: "";
      display: block;
      background-image: url("../images/quote.svg");
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: 5px;
      position: absolute;
      right: 20px;
      bottom: 30px;
      width: 105px;
      height: 97px;
      @include breakpoint(small only) {
        right: -5px;
        bottom: 0;
        z-index: -1;
      }
    }

    &::before {
      display: none;
    }
  }

  .wd-testimonial__thumbnail {
    min-width: 195px;
    padding-right: 58px;
    img {
      max-width: 170px;
    }
  }

  .wd-testimonial__info {
    position: relative;
    top: 20px;
    .title {
      font-size: 20px;
      font-weight: 700;
      color: #0B1D4F;
      margin-bottom: 4px;
    }

    .job {
      font-size: 16px;
      font-weight: 400;
      color: var(--primary-color);
    }

    .excerpt {
      color: var(--text-color);
      margin-bottom: 20px;
      @include breakpoint(large up) {
        max-width: 80%;
      }
      p{
        font-size: 18px;
        font-family: 'Open sans';
      }
    }
    @include breakpoint(small only) {
      position: absolute;
      top: 77vw;
    }

    }

  .owl-controls {
    @include breakpoint(small only) {
      right: 20px;
    }
    .owl-nav {
      position: absolute;
      width: 60px;
      text-align: center;
      line-height: 20px;
      z-index: 99;
      cursor: pointer;
      bottom: unset;
      right: -15%;
      left: unset;
      transform: rotate(90deg) translate(-50%);
      top: -100px;
      @include breakpoint(small only) {
        right: 0;
        left: 100%;
        top: -60vw;
      }
      .owl-prev {
        bottom: 50%;
        transform: translate(45%);
       .fa-chevron-left{
         position: relative;
         left: calc(50% - 156px);
         top: 38px;
        }
        &::after {
          content: '';
          display: block;
          width: 2px;
          height: 61%;
          background: #000;
          position: absolute;
          top: 53px;
          right: 125px;

        }
      }

      .owl-next {
        bottom: 50%;
        transform: translate(-100%);
      }

      > div {
        left: unset;
        padding: 0;
        border: none;
        border-radius: 0;
        top: unset;
        background: none;
        margin: 0;
        right: unset;
        height: unset;
        width: 60px;
      }

      svg {
        height: 20px;
      }
    }
  }
}

