
.fixed section.corporate .menu-item .sub-menu {

  margin-top: 14px;

}

section.corporate {
  .menu-menu-container {
    position: relative;
  }

  #menu-menu {
    // margin-top: 17px;
    .fixed & {
      margin-bottom: 14px;
      margin-top: 0;
    }
  }

  .menu-item {
    @include breakpoint(small only) {
      float: none;
    }
    @include breakpoint(medium up) {
      float: left;
    }

    .sub-menu {
      background: #FFF;
      padding: 12px 0;
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      @include breakpoint(small only) {
        padding-left: 14px;
      }
      @include breakpoint(medium up) {
        position: absolute;
        left: auto;
        a {
          padding: 5px 20px;
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
      li {
        float: none;
      }
    }

    .sub-menu .sub-menu {
      @include breakpoint(medium up) {
        left: 100%;
        margin-top: 0;
        top: 0;
      }
    }
    a {
      padding: 10px;
      i {
        color: #FF0000;
      }
    }

    > .sub-menu {
      visibility: hidden;
      opacity: 0;
      transform: translateY(20px);
      transition: all .3s ease-in-out;
    }
    &:hover .sub-menu {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.corporate-layout {
  .contain-to-grid, .top-bar {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    z-index: 1001;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
  }

  .header-top {
    background-color: #FAFAFA;
    color: #D6D6D6;

    .contact-info {
      font-size: 13px;
      color: #a6a6a6;

      .fa {
        margin-right: 4px;
      }

      .fa-phone {
        margin-left: 10px;
      }
    }

    i {
      font-size: 1.4em;
      color: #db4436;
      padding-right: 4px;
    }

    .social-icons li i {
      border-radius: 0;
      color: #D6D6D6;
      font-size: 1.4em;
      margin: 0 2px;
    }

    .social-icons.accent li i {
      border: none;
      color: #D6D6D6;
    }
  }

  .contain-to-grid {
    &.sticky {
      background-color: #FFF;
      box-shadow: 0 10px 50px rgba(0, 0, 0, 0.05);


    }
  }

  .top-bar-section li:not(.has-form) a:hover:not(.button), .top-bar-section ul li:hover:not(.has-form) > a {
    background-color: transparent;
    color: #1A80D6;
  }

  .top-bar-section ul li:hover:not(.has-form) > a {
    color: #9d9d9d;
  }

  .top-bar .toggle-topbar.menu-icon a span {
    box-shadow: none;
  }

  .top-bar {
    position: relative;
    transition: all 0.4s ease 0s;
    .menu {
      @include breakpoint(medium down){
        justify-content: space-evenly;
      }
    }
    ul {
      background-color: transparent;
      margin: 0 15px;
    }
  }

  .top-bar-section ul.menu > li > a:not(.button){
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: capitalize;
    line-height: 22px;
    color: #222;
    @include breakpoint(medium only ){
      padding: 10px 15px 20px;
    }
    @media screen and (min-width: 1024px) and (max-width: 1150px) {
      padding: 10px 14px;
    }
  }
  .top-bar-section ul.menu > li.has-dropdown > a:not(.button){ 
    padding-right: 35px;
  }
  .top-bar-section ul.menu > li:first-child > a:not(.button){ 
    padding-left: 5px;
  }

  .top-bar-section ul li {
    background-color: transparent;
    border-bottom: solid 2px transparent;
    i {
      color: #FF0000;
      margin-right: 4px;
    }
  }

  .top-bar .title-bar .name {
    @include breakpoint(small only) {
      margin-top: 0;
    }
    @include breakpoint(medium up) {
      //margin-top: 20px;
    }
  }

  .corporate-layout .top-bar .title-bar .name {
    margin-top: 0;
  }
  .top-bar-section ul.menu > li > a:not(.button) {
    color: var(--topbar-text);
    @include breakpoint(medium only) {
      padding-inline-start: 5px;
      padding-inline-end: 15px;
    }
  }
  .top-bar-section ul li:hover {
    border-bottom: solid 2px var(--topbar-hover-text);
    color: var(--topbar-hover-text);
  }
  .top-bar-section li:not(.has-form) a:hover:not(.button), 
  .top-bar-section ul li:hover:not(.has-form) > a {
    background-color: transparent;
    color: var(--topbar-hover-text);
  }

  .sticky .top-bar-section ul.menu > li > a:not(.button) {
    color: var(--topbar-sticky-text);
  }
  .sticky .top-bar-section ul li:hover {
    border-bottom: solid 2px var(--topbar-hover-sticky-text);
    color: var(--topbar-hover-sticky-text);
  }
  .sticky .top-bar-section li:not(.has-form) a:hover:not(.button), 
  .sticky .top-bar-section ul li:hover:not(.has-form) > a {
    background-color: transparent;
    color: var(--topbar-hover-sticky-text);
  }


}


.top-bar .toggle-topbar.menu-icon a span {
  box-shadow: none !important;
}

.modern-layout .top-bar-section ul li {
  float: none !important;


}

.orange_bar {
  background-color: linear-gradient(to left, #f95b5d 0%, #fbad5b 100%);
  height: 10px;
}

.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
}

nav.top-bar.expanded {
  height: auto;
}


@include breakpoint(small only) {

  .doors_mega-menu {
    > .sub-menu.dropdown {
      width: -moz-max-content;
      padding: 30px 150px 20px 20px;
      background-color: #FFF;
      padding-bottom: 40px;
      left: calc(-50% - 75px) !important;
      right: auto !important;

      & > li {
        width: auto;
        display: block;
        float: none;
        border-right: 1px solid #eee;
        @include breakpoint(small only) {
          display: table-cell;
        }

        & > .sub-menu.dropdown {
          box-shadow: none;
          height: auto;
          padding: 0 10px 0 0;
          position: unset !important;
          width: 100%;
        }
      }
    }
  }


  .top-bar-section .doors_mega-menu .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background: none;

  }

  .doors_mega-menu > .dropdown > li > a {
    font-weight: bold;
  }
  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a::after {
    content: "";
  }

  .top-bar-section .doors_mega-menu > .dropdown > li:not(.has-form):not(.active) > a:not(.button) {
    background: transparent;
    color: #000;
    text-transform: uppercase;
  }
  .top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
    background-color: transparent;
    color: #999;
  }
  .top-bar-section .doors_mega-menu > .dropdown > li:hover:not(.has-form):not(.active) > a:not(.button) {
    background: transparent;
    color: #000;
  }
  .top-bar-section .doors_mega-menu .dropdown .dropdown > li:not(.has-form) a:not(.button) {
    line-height: 2em;
  }

  .title.back.js-generated {
    display: none !important;
  }

}

.corporate-layout {
  .header-info {
    border-bottom: solid 1px rgba(93, 85, 85, 0.23);
    @include breakpoint(small only) {
      border-bottom:none;
    }
    .top-bar-left {
      float: left;
    }

    .top-bar-right {
      float: right;
      margin-top: 15px;
      @include breakpoint(medium down) {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  .top-bar-section ul.sub-menu.dropdown  li {
    border-bottom: solid 2px transparent;
    color: #1A80D6;
    &, 
    & a {
      transition: all 0.35s ease-in-out;
    }
    &:hover {
      background: rgba(136, 136, 136, .06);
      & > a:not(.button) {
        color: var(--primary-color);
      }
    }
  }

  .top-bar-section ul li a:hover {
    color: #1A80D6;
  }

}

.corporate {
  &.top-bar-section {
    position: relative;
  }
}