body {
direction: rtl;
}
.right,
.wd-image-text.style-4 .service-img-box svg {
float: left !important;
}
.left {
float: right !important;
}
.text-right {
text-align: left !important;
}
.text-left {
text-align: right !important;
}
.column, .columns,
.large-up-3 > .column, 
.large-up-3 > .columns, 
.large-up-4 > .column, 
.large-up-4 > .columns {
float: right;
}
@media only screen and (min-width: 768px) {
.vc_col-sm-1, 
.vc_col-sm-10, 
.vc_col-sm-11, 
.vc_col-sm-12, 
.vc_col-sm-2, 
.vc_col-sm-3, 
.vc_col-sm-4, 
.vc_col-sm-5, 
.vc_col-sm-6, 
.vc_col-sm-7, 
.vc_col-sm-8, 
.vc_col-sm-9 {
float: right;
} 
}
.social-icons.inline-list {
margin-right: 285px;
margin-left: 0;
}
.wpb_tabs .wpb_tabs_nav li.ui-state-default,
.breadcrumbs li {
float: right;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon, .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
right: auto !important;
left: 0.7em !important;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], 
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], 
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
padding: 10px 20px 10px 0;
} .top-bar-section .main-nav {
float: left;
}
.top-bar .title-area, .top-bar-section ul li {
float: right;
} .wd-carousel-container .carousel-icon, .carousel-details > h3 {
text-align: center;
}
.owl-prev {
float: left;
left: 0;
} .boxes.small.layout-8 .box-icon {
border: none;
border-left: 2px solid rgba(142, 150, 157, 0.2);
margin-left: 1em;
float: right;
}
.boxes.small.layout-1 .box-icon {
float: right;
}
.boxes.small.layout-4 .box-icon {
float: right;
}
.boxes.small.layout-5 .box-text-5, .boxes.small.layout-5-inverse .box-text-5 {
padding-left: 0;
padding-right: 8em;
}
.boxes.small.layout-6 .box-text-6 {
padding-right: 22%;
}
.boxes.small.layout-7 .box-text-7 {
padding-right: 9em;
} .position {
float: left;
}
.corporate.top-bar-section {
margin-top: 10px;
}
.icon-header {
bottom: -8px;
float: left;
}
.breadcrumbs {
float: left;
}
.corporate-layout .header-info .top-bar-left {
float: right;
}
.corporate-layout .header-info .top-bar-right {
float: left;
}
.corporate-layout .header-info {
padding-bottom: 4px;
}
.l-header .contain-to-grid .title-bar .menu-icon:after {
right: 3.75rem;
left: 150px;
}
.corporate-layout .top-bar-section ul.menu > li > a:not(.button) {
padding: 10px 20px;
position: relative;
}
.corporate-layout .top-bar-section ul.menu > li:first-child > a:not(.button) {
padding-right: 0;
}
.contain-to-grid .top-bar .text-right .address_bar .bar .address,
.contain-to-grid .top-bar .text-right .address_bar .bar .text_add {
text-align: right;
}
.icon-header .min-search {
position: relative;
}
.icon-header .min-search .overlay-search {
left: 35px;
top: -12px;
}
.request-quote {
padding-left: unset;
padding-right: 30px;
} .titlebar .title:after {
right: 0;
left: unset;
bottom: 56px;
} .latest-posts .blog-image img {
float: right;
margin: 0;
margin-left: 10px;
} .searchform button[type='submit'], 
.woocommerce-product-search button[type='submit'] {
left: 25px;
right: unset;
} .blog-info .arrow {
right: 97px;
border-width: 15px 15px 15px 0;
}
.blog-info {
margin-right: 0;
margin-left: 3%;
}
.author, .blog-info .comment-count div {
text-align: center;
}
.contain-to-grid .top-bar .text-right .address_bar {
padding-left: 0;
padding-right: 72px;
}
.contain-to-grid .top-bar .text-right .address_bar .address_icon {
left: auto;
right: 40px;
}
.top-bar-section .has-dropdown .dropdown li.has-dropdown > a::after {
content: '\f100';
font-family: FontAwesome;
left: 20px;
right: auto;
}
.top-bar-section .left li .dropdown li .dropdown {
left: auto;
right: 100%;
}
.figure.effect-lily figcaption {
text-align: right;
}
figure.effect-lily figcaption {
text-align: right;
}
.vc_tta.vc_tta-controls-align-left .vc_tta-panel-heading, .vc_tta.vc_tta-controls-align-left .vc_tta-tabs-container {
text-align: right !important;
}
div.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
left: 20px;
right: auto;
}
.vc_tta.vc_general .vc_tta-title-text:not(:empty):not(:first-child), .vc_tta.vc_general .vc_tta-title-text:not(:empty) ~ * {
margin-left: auto;
margin-right: 14px;
}
.vc_tta.vc_general .vc_tta-icon {
float: right;
margin-top: 8px;
}
.boxes.small .box-container {
text-align: right;
}
.layout-4 div.box-icon {
margin: 3px 0 20px 30px;
}
.contact-details .fa {
margin-left: 15px;
margin-right: auto;
}
.latest-posts .blog-image {
padding-right: auto;
padding-left: 6px;
float: right !important;
}
.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
float: left;
}
footer.l-footer .footer {
text-align: right;
}
.breadcrumbs > * {
float: right;
}
.fa-angle-right::before {
content: "\f104";
}
.fa-angle-left::before {
content: "\f105";
}
.blog .read-more i {
margin-left: auto;
margin-right: 10px;
}
.fa-long-arrow-right::before {
content: "\f177";
}
input, textarea {
text-align: right;
}
input.wpcf7-submit {
float: right;
}
div.wpcf7 .ajax-loader {
float: right;
margin: 21px 10px 0 0;
}
.top-bar .title-area {
padding-left: 0;
padding-right: 13px;
}
@media only screen and (max-width: 900px) {
.top-bar .toggle-topbar {
right: auto;
left: 0;
}
.top-bar .title-area {
width: 100%;
}
.corporate-layout .top-bar-section ul.menu > li > a:not(.button) {
padding: 10px 15px;
}
.top-bar-section .left li .dropdown {
left: auto;
right: 100%;
box-shadow: none;
}
.request-quote.right {
width: 100%;
text-align: center;
} 
.wd-testimonial.wd-testimonial_style_2 .wd-testimonial__info{
top: 57vw;
}
.wd-testimonial.wd-testimonial_style_2 .wd-testimonial__item::after{
bottom: 0 !important;
}
}
@media only screen and (max-width: 39.9375em) {
.contain-to-grid .mobile-menu .title-bar .menu-icon {
transform: translate(-100%, -50%);
padding-left: 0;
padding-right: 50px;
left: auto;
right: 66%;
}
.l-header .contain-to-grid .title-bar .menu-icon:after {
left: 3.75rem;
right: 100px;
}
} .sidebar-left .block-title,
.sidebar-second.sidebar.sidebar-left .widget-documents {
padding-right: 28px;
padding-left: unset;
} .woocommerce .widget_shopping_cart .cart_list li a.remove, 
.woocommerce.widget_shopping_cart .cart_list li a.remove {
top: 0;
right: unset;
left: 0;
}
.wd-testimonial.wd-testimonial_style_2 .wd-testimonial__item::after { 
right: 50vw !important;
transform: rotateY(180deg);
} 
.wd-testimonial.wd-testimonial_style_2 .wd-testimonial__thumbnail{
padding: 0 60px;
}
.wd-heading.s-behind-t p{
right: 0;
}